[submodule "Project2/Project2/deploy-tier-application-backend-Database-proxy-"]
	path = Project2/Project2/deploy-tier-application-backend-Database-proxy-
	url = https://github.com/abdelrahmanonline4/deploy-tier-application-backend-Database-proxy-.git
[submodule "Project2/deploy-tier-application-backend-Database-proxy-"]
	path = Project2/deploy-tier-application-backend-Database-proxy-
	url = https://github.com/abdelrahmanonline4/deploy-tier-application-backend-Database-proxy-.git
